main {
  max-width: 600px;
  margin: 100px auto;
  padding: 40px;
  text-align: center;
  background-color: #edcdcd;
  border-radius: 12px;
}

h1 {
  color: #b539e2;
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(67, 58, 127);
}